<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host{
        display: block;
      }
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       }
       .leyenda-b {
         color: #0B0B3B;
       }
       .loginframe, .newusrframe, .altasmovsframe {
         box-sizing: border-box;
         align-items: center;
         align-content:space-around;
         text-align: center;
         display:flex;
         flex-direction: column;
       }
       .registerbtn {
         box-sizing: border-box;
         align-items: center;
         align-content:space-around;
         text-align: center;
         display:flex;
         flex-direction: column;
       }


       .consultasframe {
         box-sizing: border-box;
         align-content: space-between;
         text-align: center;
         display: flex;
         flex-direction: column;
         width: 100%;
         background-color: #5492d8;
       }

       .pwd {
         margin-bottom: 10px;
       }
       .btn {
         margin-bottom: 20px;
       }
       .leyenda-b2 {
         color: #0B0B3B;
         margin-bottom: 40px;
       }
       .botonesconsultas {
         display: flex;
         flex-direction: row;
         margin-top: 30px;
       }
       .botoncitos {
         display: flex;
         flex-direction: column;
         margin-bottom: 30px;
         margin-top: 70px;
       }
    </style>
    <body>
      <div class="container"  >
          <!-- ********************************************************************* -->
          <!-- LOGIN -->
          <!-- ********************************************************************* -->
          <div class="row loginframe border border-light" hidden$={{logado}} disabled$={{nuevoregistrousuario}}>
              <img src="https://www.elfinanciero.com.mx/uploads/2019/06/10/06563f3b411560203642_standard_desktop_medium_retina.jpeg" class="imagen" style="width: 80%; height: 80%;">
              <p class="leyenda-b">Bienvenido</p>
              Email : <input type="email" value="{{email::input}}" class="email text-center" name="em" disabled$={{nuevoregistrousuario}}>
              Password: <input type="password" value="{{password::input}}" class="pwd text-center" name="pwd" disabled$={{nuevoregistrousuario}}>
              <button on-click="login" class="btn btn-success" disabled$={{nuevoregistrousuario}}>Entrar</button>
          </div>
          <!-- ********************************************************************* -->
          <!-- BOTON REGISTRAR -->
          <!-- ********************************************************************* -->
          <div class="row registerbtn border border-light" hidden$={{!encontroUsuario}}>
            <button class="btn btn-warning" on-click="getnewusr">Registrar</button>
          </div>
          <!-- ********************************************************************* -->
          <!-- NUEVO USUARIO -->
          <!-- ********************************************************************* -->
          <div class="row newusrframe border border-light" hidden$={{!usrNotExist}}>
            <p class="leyenda-b">Alta nuevo usuario</p>
            Nombre: <input type="text" value="{{nombreu::input}}" class="nombre text-center">
            Apellido P: <input type="text" value="{{appat::input}}" class="appat text-center">
            Apellido M: <input type="text" value="{{apmat::input}}" class="apmat text-center">
            Email : <input type="email" value="{{email::input}}" class="email text-center">
            Password: <input type="password" value="{{password::input}}" class="pwd text-center">
            <button class="btn btn-success" on-click="newusr">Signin</button>
          </div>

          <!-- ********************************************************************* -->
          <!-- MENU BOTONES DE CONSULTAS -->
          <!-- ********************************************************************* -->
          <div class="row consultasframe border border-ligth" hidden$={{!logado}}>
            <div class="leyenda-b2 bg-primary text-white text-center">Bienvenido</div>
            <div class="botonesconsultas">
                <img src="https://www.theworlds50best.com/filestore/jpg/BBVA_Partner_Page_Header.jpg" class="img1" style="width: 80%; height: 80%;">
                <div class="botoncitos">
                  <button on-click="altamovs" class="btn btn-info">Alta movimientos</button>
                  <button on-click="getmovs" class="btn btn-info">Consulta de movimientos</button>
                  <button on-click="logoff" class="btn btn-outline-warning">Salir</button>
                </div>
            </div>
          </div>
          <div class="row altasmovsframe border border-light" hidden$={{!altamovimientos}}>
            <div class="">
               <h3>ALTA NUEVO MOVIMIENTO</h3>
            </div>
            <div>
              Fecha: <input type="date" value="{{fhnewmov::input}}" class="text-center">
              Importe: <input type="number" value="{{imnewmov::input}}" class="text-center">
              Categoria: <input type="text" value="{{catnewmov::input}}" class="text-center">
            </div>
            <button on-click="regmov" class="btn btn-success">Registra movimiento</button>
          </div>
          <div class="row border border-light" hidden$={{!consultomovs}}>
              <h3>CONSULTA DE MOVIMIENTOS</h3>
              <table class="table table-striped">
                <tbody>
                  <template is="dom-repeat" items="{{movimientos}}">
                    <tr>
                      <td>
                        {{item.fecha}}
                      </td>
                      <td>
                        {{item.importe}}
                      </td>
                      <td>
                        {{item.categoria}}
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>

          </div>
      </div>

    </body>
<iron-ajax
    id="doLogin"
    url="http://localhost:3000/v2/Login"
    content-type = "application/json"
    crossDomain = true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponseLogin"
    on-error="showError">
</iron-ajax>

<iron-ajax
  id="doNewusr"
  url="http://localhost:3000/v2/Newusr"
  content-type = "application/json"
  crossDomain = true
  dataType: 'jsonp'
  method="POST"
  handle-as="json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponseNewusr"
  on-error="showError">
</iron-ajax>

<iron-ajax
    id="doGetnewusr"
    url="http://localhost:3000/v2/GetNewUsr"
    content-type = "application/json"
    crossDomain = true
    dataType: 'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="manageAJAXResponseGetNewUser"
    on-error="ErrorGetNewUsr">
</iron-ajax>


</template>

<script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          nombreu: {
            type: String,
          },
          appat: {
            type: String,
          },
          apmat: {
            type: String,
          },
          email: {
            type: String,
            //value: 'login-app'
          },
          password: {
            type: String
          },

          logado: {
            type: Boolean,
            value: false
          },
          encontroUsuario: {
            type: Boolean,
            value: false
          },
          altamovimientos: {
            type: Boolean,
            value: false
          },
          consultomovs: {
            type: Boolean,
            value: false
          },
          usrNotExist: {
            type: Boolean,
            value: false
          },
          nuevoregistrousuario: {
            type: Boolean,
            value: false
          },
          fhnewmov: {
            type: Date
          },
          imnewmov: {
            type: Number
          },
          catnewmov: {
            type: String
          },
          movimientos: {
            type: Array,
            notify: true
          },
          respuesta: {
            type: Array,
            notify: true
          },
          clientecompletito: {
            type: Array,
            notify: true
          },
          oid: {
            type: String
          },
          listadomovs: {
            type: Array,
            notify: true
          },
          idclientebkp: {
            type: String
          },
          idcuentabkp: {
            type: String
          },
          nombrebkp:{
            type: String
          },
          apellidobkp: {
            type: String
          },
          emailbkp: {
            type: String
          }
        };
      }

      logoff(){
        this.logado = false;
        this.email = '';
        this.password = '';
        console.log('Sale usuario de sesion');
        this.altamovimientos = false;
        this.consultomovs = false;
        if(this.nuevoregistrousuario){
          this.nuevoregistrousuario = false;
        }
      };
      //**********************************************
      //  doLogin
      //**********************************************
      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Peticion enviada por iron-ajax');
      }

      //**********************************************
      //  goGetnewusr - Verifica antes de un nuevo registro, si el usuario ya existe
      //**********************************************
      getnewusr(){
        var emailData = {
          "email":this.email,
        }
        this.$.doGetnewusr.body = JSON.stringify(emailData);
        console.log('Variable emailData: ' + this.$.doGetnewusr.body);
        this.$.doGetnewusr.generateRequest();
        console.log('Peticion verifica si usuario existe, enviada por iron-ajax');
      }

      ErrorGetNewUsr(){
        alert('Ha ocurrido un error, la cuenta de correo ya existe. Verifique password o use otra cuenta de correo para registrarse');
        this.encontroUsuario = false;
      }

      //**********************************************
      //  altamovs - Llena arreglo del registro de cliente en donde se va a agregar un nuevo movimiento
      //**********************************************
      altamovs(){
        this.altamovimientos = true;
        this.consultomovs = false;
        //console.log('altamovimientos= ' + this.altamovimientos);
        //console.log('consultomovs= ' + this.consultomovs);
        var request = new XMLHttpRequest();
        var correo = {
          "email":this.email
          };

        var json = JSON.stringify(correo);
        //console.log("body =" + this.$.body);

        request.open("POST","http://localhost:3000/v1/Clientesem/",false);
        request.setRequestHeader('Content-type','application/json; charset=utf-8');
        request.send(json);

        //console.log("salida Request del post de movs por cliente: " + request.responseText);

        var clientecompletito = JSON.parse(request.responseText);
        this.oid = clientecompletito[0]._id.$oid;
        this.listadomovs = clientecompletito[0].listado;
        this.idclientebkp = clientecompletito[0].idcliente;
        this.idcuentabkp = clientecompletito[0].idcuenta;
        this.nombrebkp = clientecompletito[0].nombre;
        this.apellidobkp = clientecompletito[0].apellido;
        this.emailbkp = clientecompletito[0].email;
        /*
        console.log("Listado actual de movimientos: " + this.listadomovs);
        console.log("this.oid: " + this.oid);
        console.log("this.idclientebkp: " + this.idclientebkp);
        console.log("this.idcuentabkp: " + this.idcuentabkp);
        console.log("this.nombrebkp: " + this.nombrebkp);
        console.log("this.apellidobkp: " + this.apellidobkp);
        console.log("this.emailbkp: " + this.emailbkp);
        */
      };
      //**********************************************
      //agrega nuevo Movimiento -
      //**********************************************
      regmov(){
        //console.log('fhnewmov: ' + this.fhnewmov);
        //console.log('imnewmov: ' + this.imnewmov);
        //console.log('catnewmov: ' + this.catnewmov);

        //Asigna a variable 'nuevo' la información de los campos capturados en pantalla
        var nuevo = {
          fecha : this.fhnewmov,
          importe : this.imnewmov,
          categoria : this.catnewmov
        }

        //Agrega nuevo movimiento al arreglo de movimientos
        this.listadomovs.push(nuevo);

        //console.log("Listado nuevo de movimientos: " + this.listadomovs.length);

        //Actualiza  registro de cliente con movimiento nuevo
        var idclienteupdt = this.oid;
        var regclientenew = {
          _id : {
                 $oid : this.oid
               },
          idcliente : this.idclientebkp,
          idcuenta : this.idcuentabkp,
          nombre : this.nombrebkp,
          apellido : this.apellidobkp,
          email : this.emailbkp,
          listado : this.listadomovs
        }
        var request = new XMLHttpRequest();
        var json = JSON.stringify(regclientenew);
        console.log("Body para update = " + json);
        request.open("PUT", "https://api.mlab.com/api/1/databases/alabra/collections/Clientes?idclienteupdt&apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt",true);
        request.setRequestHeader('Content-type','application/json; charset=utf-8');
        request.send(json);
        alert('Nuevo movimiento registrado');
        this.fhnewmov = '';
        this.imnewmov = '';
        this.catnewmov = '';
      };

      //**********************************************
      //agregarUsuarios - newusr
      //**********************************************
      newusr(){
        var nombreusuario = this.nombreu;
        var apellidopat = this.appat;
        var correo = this.email;
        var contrasena = this.password;
        var loginDataAlta = {
          "nombreu":this.nombreu,
          "appat":this.appat,
          "apmat":this.apmat,
          "email":this.email,
          "password":this.password
        };

        this.$.doNewusr.body = JSON.stringify(loginDataAlta);
        this.$.doNewusr.generateRequest();
        console.log('Peticion nuevo usuario enviada por iron-ajax');
      }

      //**********************************************
      //  getmovs - Obtiene movimientos por cliente y llena variable movimientos
      //**********************************************

      getmovs(){
        this.altamovimientos = false;
        this.consultomovs = true;
        //console.log('Entra a getmovs')
        //console.log('altamovimientos= ' + this.altamovimientos);
        //console.log('consultomovs= ' + this.consultomovs);
        //console.log('email= ' + this.email);
        var request = new XMLHttpRequest();

        var query = 'q={"email":"' + this.email + '"}';

        request.open("GET", "https://api.mlab.com/api/1/databases/alabra/collections/Clientes?f={'listado':'1'}&apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt&" + query,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        console.log("salida Request del get de movs: " + request.responseText);

        //this.movimientos = request.responseText;
        var respuesta = JSON.parse(request.responseText);
        this.movimientos = respuesta[0].listado;

        //console.log('movimientos = ' + this.movimientos);

      }

      manageAJAXResponseLogin(data){
        console.log('Respuesta recibida desde el servidor - Login');
        this.logado = true;
      }

      manageAJAXResponseNewusr(){
        console.log('Respuesta recibida desde el servidor - Alta usuario');
        alert('Usuario nuevo registrado');
        this.logado = true;
        //Quita sección de alta de nuevo usuario
        this.usrNotExist = false;
      }

      manageAJAXResponse(data){
        console.log('Respuesta recibida desde el servidor');

      }

      manageAJAXResponseGetNewUser(data){
        console.log('Respuesta recibida desde el servidor - Consulta si usuario existe');

        console.log(data.detail);
        this.nuevoregistrousuario = true;
        this.usrNotExist = true;
        this.encontroUsuario = false;
      }

      showError(error){
        console.log('Hubo un error en la peticion: ' + error);
        alert('Los datos ingresados son incorrectos o el usuario no existe, si deseas registrarte da clic en Registrar');
        this.encontroUsuario = true;

      }


    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
